@import 'last';


header{
    background-color:$color1;
    @include Topo;

    .container-menu{
        @include FlexCenter;

        h1{
            color:$color2;
        }

        nav{
           ul{
            @include FlexCenter;
            li{ padding-left: 50px;
                a{color:$color3;
                &:hover{color:$color2;transition: 1s;border-bottom: 2px solid $color2}}
            }
           }
        }
    }
}

main{
    @include Precos;
}


.burg-container{
    max-width: 70%;
    @include Precos;
    h2{padding: 20px 0px;}
    .boxes{
        @include Precos;
         .box{padding-bottom: 20px;width: 300px;}
    }
}